{{outlet}}

<h1>Tasks</h1>

{{#each @model as |task|}}
    <div class="well">
        <h4>
            <LinkTo @route="tasks.edit" @model={{task}}>{{task.title}}</LinkTo>
        </h4>
        <small>
            Due: {{ task.date}}
        </small>
        <p>
            {{task.description}}
        </p>
        <button type="button" {{on "click" this.deleteTask task.id}} class="btn btn-danger">Delete</button>
    </div>



{{/each}}